@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--color-shadow: rgba(0, 0, 0, 0.3);
	--color-text: #000000;
	--color-text-inverted: #ffffff;
	--color-code-background: rgba(0, 0, 0, 0.1);
	--color-background: #ffffff;
}

* {
	font-family: "martian-mono-variable", sans-serif;
}

html, body {
	background-color: var(--color-background);
	transition: background-color 0.3s;
}

.dropshadow {
	filter: drop-shadow(1px 1px 3px var(--color-shadow));
}

nav * {
	z-index: 100;
}

p {
	font-variation-settings: "wdth" 75, "wght" 400;
	font-style: normal;
}

h1 {
	font-variation-settings: "wdth" 75, "wght" 600;
	@apply md:text-[10em] text-[20vw];
	line-height: 90%;
	position: relative;
}

h2 {
	@apply md:text-[2em] text-[4vw];
	margin-top: 5px;
	background: var(--color-text);
	color: var(--color-text-inverted);
	position: relative;
	z-index: 50;
}

h4 {
	font-variation-settings: "wdth" 0, "wght" 600;
	@apply md:text-[5em] text-[10vw];
	line-height: 90%;
	position: relative;
}

.highwidth {
	font-variation-settings: "wdth" 900, "wght" 200;
}
